<table class="table is-fullwidth">
  <thead>
    <th>Amount</th>
    <th>Method donated</th>
    <th>Donor</th>
    <th>County</th>
  </thead>
  <tbody>
    {{#each donations}}
    <tr>
      <td>{{amount}}</td>
      <td>{{method}}</td>
      <td> {{donor.firstName}} {{donor.lastName}} </td>
      <td>{{county.lastName}}, {{county.firstName}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>